<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">RC</a>
  <div>

<ul class="nav navbar-nav navbar-right">
<li><%= link_to 'Rent my car', root_path %></li>
<li><%= link_to 'About', home_about_path %></li>
<li><%= link_to 'Listing Offers', offers_path %></li>

     <% if user_signed_in? %>
          <li><%= link_to 'Edit', edit_user_registration_path, class: 'navbar-link' %></li>
          <li><%= link_to 'New offer', new_offer_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
        <% else %>
          <li><%= link_to 'Log in', new_user_session_path, class: 'navbar-link' %></li>
          <li><%= link_to 'Registration', new_user_registration_path, class: 'navbar-link' %></li>
        <% end %>
    
</ul>
</div>
</nav>

