<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @offer.email_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @offer.phone %>
</p>
<% if @offer.user == current_user %>
<%= link_to 'Edit', edit_offer_path(@offer) %> 
<% end %>
<%= link_to 'Back', offers_path %>
